/* Tablet */
/* todo: MAIN-PAGE */
/* ! Header */
@media (max-width: 1199px) {
   [class *="__container"] {
      max-width: 900px;
   }
	.logo-menu-items__link-logo,
   .footer-copyright__link-logo {
	font-size: 35px;
   }
	.logo-menu-items__menu {
		margin-left: 110px;
	}
	.logo-menu-items__list {
		margin: 0 -13.5px;
	}
	.logo-menu-items__item {
		padding: 0 13.5px;
	}
	.logo-menu-items__link {
		font-size: 18px;
	}
	.titles-center__title {
		font-size: 50px;
	}
	.forest__header-content:not(:last-child) {
		margin-bottom: 295px;
	}
	.forest__button-scroll-item {
		margin: 0 auto;
		width: 10.4%;
	}
	/* ! Main */
   .routes {
	   padding: 110px 0;
   }
   .cards:not(:last-child) {
	   margin-bottom: 110px;
   }
	.card-content_left {
		margin-left: 120px;
	}
	.card-image {
		margin-left: 120px;
	}
	.card-image_rigth {
		margin-left: 0;
	}
	.card-content__title-item {
		font-size: 40px;
	}
	.card-content__text-item {
		font-size: 16px;
	}
	.card-content__link-btn {
		font-size: 16px;
		padding: 10px 30px;
	}
	/* ! FOOTER */
   #footer-content {
	   padding: 70px 0 90px;
   }
   .footer-widget-wrappers {
	   margin-left: 120px;
   }
	.footer-widget_services,
   .footer-widget_contacts {
	   margin-left: 22px;
   }
	.footer-widget__title {
		font-size: 22px;
	}
	.footer-widget a {
		font-size: 17px;
	}
	.footer-widget__text-item {
		font-size: 17px;
	}
	/* todo: TOURS PAGE */
   /* ! HEADER */
   .page-header-wrapper__container {
	   padding: 20px 15px;
   }
	/* ! MAIN */
   .tours {
	   padding: 60px 0 90px;
   }
   .tours__main-title-center {
	   margin-bottom: 50px;
   }
   .main-title-center__title {
	   font-size: 50px;
   }
	/* ! Cards-item */
   .card-item__image-item {
	   width: 420px;
   }
	.card-item__title,
   .card-item-bigger__title,
   .card-item-tall__title {
	   font-size: 26px;
	   padding: 20px 30px;
   }
	/* ! Cards-item-bigger */
   .cards-wrapper-column {
		row-gap: 38px;
	}
	.card-item-bigger__image-item {
	   width: 470px;
   }
	/* ! Card-item-tall */
   .card-item-tall__image-item {
	   width: 370px;
   }
	/* todo: TRACKING-PAGE */
   /* ! MAIN */
	.tracking {
		padding: 70px 0;
	}
	.tours-links__title-item {
		font-size: 26px;
	}
	.tours-links a {
		font-size: 16px;
		padding: 20px 0;
	}
	.track-hiking-items {
		row-gap: 20px;
	}
	.track-hiking-items__title-item {
		font-size: 46px;
	}
	.track-hiking-items__text-item,
   .mount-item__text-item,
   .place-item__text-item,
   .camp-item__text-item {
	   font-size: 16px;
   }
	.track-hiking-items__image-item {
		width: 540px;
	}
	.mount-item__title-item,
   .place-item__title-item,
   .camp-item__title-item {
	   font-size: 28px;
   }
	.mount-item__title-item,
   .place-item__title-item,
   .camp-item__title-item:not(:last-child) {
	   margin-bottom: 10px;
   }
	/* todo: CONTACTS PAGE */
   /* ! MAIN */
	.contacts {
		padding: 60px 0;
	}
	.contacts__title-item {
		font-size: 46px;
	}
	.phone-adress-items__title {
		font-size: 26px;
	}
	.phone-adress-items__link-tel,
   .phone-adress-items__link-mail {
	   font-size: 18px;
		padding: 0 0 0 30px;
   }
	.phone-adress-items__link-tel::before {
		width: 18px;
		height: 18px;
		background: url('../img/page-4/main/block-1/black-phone-icon.svg') 0 0 / 18px no-repeat;
		top: 4px;
   }
	.phone-adress-items__link-tel:hover::before {
		background: url('../img/page-4/main/block-1/green-phone-icon.svg') 0 0 / 18px no-repeat;
	}
	.phone-adress-items__link-tel:active::before {
		background: url('../img/page-4/main/block-1/red-phone-icon.svg') 0 0 / 18px no-repeat;
	}
	.phone-adress-items__link-mail::before {
		width: 18px;
		height: 18px;
		background: url('../img/page-4/main/block-1/black-mail-icon.svg') 0 0 / 18px no-repeat;
		top: 4px; 
	}
	.phone-adress-items__link-mail:hover::before {
		background: url('../img/page-4/main/block-1/green-mail-icon.svg') 0 0 / 18px no-repeat;
	}
	.phone-adress-items__link-mail:active::before {
		background: url('../img/page-4/main/block-1/red-mail-icon.svg') 0 0 / 18px no-repeat;
	}
	.phone-adress-items__text-item {
		font-size: 18px;
	}
	/* ! Map-item */
	.map-item__title {
		font-size: 26px;
	}
	.map-item__image-item {
		width: 370px;
	}
	/* ! Application-item */
   .application-item {
	   flex: 0 0 450px;
	   padding: 30px;
		margin-left: 50px;
   }
	.application-item__title {
		font-size: 26px;
	}
	.personal-data__name-input,
   .personal-data__phone-input,
   .personal-data__mail-input {
	   width: 100%;
	   padding: 10px 60px 13px 20px;
	   font-size: 16px;
   }
	::placeholder {
		font-size: 16px;
	}
	.personal-data__phone-item {
		flex: 0 0 48.50%;
	}
	.personal-data__mail-item {
		flex: 0 0 48.50%;
		margin-left: 10px;
	}
	/* ! quantity-clients */
   .quantity-clients:not(:last-child) {
	   margin-bottom: 20px;
   }
	.quantity-clients__title {
		font-size: 18px;
	}
	.quantity-clients__label-radio {
		font-size: 16px;
	}
	.quantity-clients__label-radio::before {
		flex: 0 0 15px;
		height: 15px;
	}
	.quantity-clients__label-radio::after {
		width: 7px;
		height: 7px;
		left: 4px;
		top: 4px;
	}
	/* ! Directions-item */
	.directions__title {
		font-size: 18px;
	}
	.directions__input-check:checked + .directions__label-check::before {
		background: url('../img/page-4/main/block-1/green-check-icon.svg') 0 0 / 16px no-repeat;
	}
	.directions__label-check {
		font-size: 16px;
		align-items: flex-start;
	}
	.directions__label-check::before {
		flex: 0 0 16px;
		height: 16px;
		background: url('../img/page-4/main/block-1/checkbox-icon.svg') 0 0 / 16px no-repeat;
	}
	.personal-data__btn-send {
		font-size: 16px;
		padding: 10px 30px;
	}
}


/* Mobile */
    /* todo: MAIN-PAGE */
       /* ! Header */
@media (max-width: 899px) {
   [class *="__container"] {
      max-width: 600px;
	}
	.forest {
		height: 500px;
	}
	.logo-menu-items__menu {
		margin-left: 0;
		position: relative;
	}
	.logo-menu-items__btn-menu {
		content: "";
		width: 27px;
		height: 27px;
		display: inline-block;
		background: url('../img/page-1/header/block-1/open-icon.svg') 0 0 / 27px no-repeat;
		position: absolute;
		right: 0;
		top: -10px;
	} 
	.logo-menu-items__list {
		display: none;
	}
	.forest__logo-menu-items:not(:last-child) {
		margin-bottom: 110px;
	}
	.titles-center__title {
		font-size: 36px;
	}
	.forest__header-content:not(:last-child) {
		margin-bottom: 180px;
	}
	.forest__button-scroll-item {
		margin: 0 auto;
		width: 20%;
	}
	.forest__btn-scroll {
		bottom: 20px;
		padding-bottom: 20px;
		text-align: center;
		font-size: 16px;
		color: #ffffff;
		letter-spacing: 0.5px;
		text-shadow: 1px 1px 1px #000000;
		transition: all 0.3s ease 0s;
		position: relative; 
	}
	.forest__btn-scroll::after {
		width: 20px;
		height: 20px;
		background: url('../img/page-1/header/block-1/white-arrow-down.svg') 0 0 / 20px no-repeat;
	}
	.forest__btn-scroll:hover::after {
		background: url('../img/page-1/header/block-1/green-arrow-down.svg') 0 0 / 20px no-repeat;
	}
	.forest__btn-scroll:active::after {
		background: url('../img/page-1/header/block-1/black-arrow-down.svg') 0 0 / 20px no-repeat;
	}
	/* ! Main */
	.routes {
	   padding: 70px 0;
   }
	.card-image {
		flex: 0 0 45.25%;
		margin-left: 40px;
	}
	.card-image__image {
		width: 117%;
		height: 100%;
		object-fit: cover;
	}
	.card-image_rigth {
		margin-left: 0;
	}
	.card-content_left {
		margin-left: 75px;
	}
	.card-content__title-item {
		font-size: 36px;
	}
	.card-content__text-item {
		font-size: 16px;
	}
	.card-content__text-item:not(:last-child) {
		margin-bottom: 30px;
	}
	.card-content__link-btn {
		font-size: 16px;
		padding: 10px 20px;
	}

	/* ! FOOTER */
	#footer-content {
		padding: 50px 0;
	}
	.footer-copyright__link-logo {
		font-size: 26px;
	}
	.footer-copyright__text-item {
		font-size: 12px;
	}
	.footer-widget-wrappers {
	   margin-left: 30px;
		padding-top: 5px;
   }
	.footer-widget_services,
   .footer-widget_contacts {
	   margin-left: 15px;
		flex: 0 0 27.06%;
   }
	.footer-widget a {
		font-size: 12px;
	}
	.footer-widget__text-item {
		font-size: 12px;
	}
		/* todo: TOURS PAGE */
         /* ! HEADER */
	.header-item {
		position: fixed;
		width: 100%;
		z-index: 100;
	}
	.header-item__container {
	   padding: 20px 15px;
   }
		/* ! MAIN */
	main {
		padding-top: 50px;
	}
	.tours {
		padding: 60px 0;
	}
	.tours__main-title-center {
		margin-bottom: 40px;
	}
	.main-title-center__title {
		font-size: 38px;
	}
	.cards-wrappers {
		margin: 0 -10px;
	}
	.cards-wrapper {
		padding: 0 10px;
	}
		/* ! Cards-item */
	.cards-wrappers:not(:last-child) {
		margin-bottom: 20px;
	}
	.card-item__image-item {
		width: 275px;
	}
	.card-item__title,
	.card-item-bigger__title,
	.card-item-tall__title {
		font-size: 20px;
		padding: 15px 30px;
	}
		/* ! Cards-item-bigger */
	.cards-wrapper-column {
		row-gap: 30px;
	}
	.card-item-bigger__image-item {
		width: 320px;
	}
		/* ! Card-item-tall */
	.card-item-tall__image-item {
		width: 230px;
	}
	/* todo: TRACKING-PAGE */
		/* ! HEADER */
	.tracking {
			padding: 50px 0;
	}
      /* ! MAIN */
	.tracking {
		padding: 50px 0;
	}
	.tours-links__title-item {
		font-size: 22px;
	}
	.tours-links a {
		font-size: 16px;
		padding: 18px 0;
	}
	.track-hiking-items {
		row-gap: 10px;
		margin-left: 40px;
	}
	.track-hiking-items__title-item {
		font-size: 28px;
	}
	.track-hiking-items__text-item,
   .mount-item__text-item,
   .place-item__text-item,
   .camp-item__text-item {
	   font-size: 14px;
   }
	.track-hiking-items__image-item {
		width: 395px;
		flex: 0 0 10%;
	}
	.mount-item__title-item,
   .place-item__title-item,
   .camp-item__title-item {
	   font-size: 22px;
   }
	.mount-item__title-item,
   .place-item__title-item,
   .camp-item__title-item:not(:last-child) {
	   margin-bottom: 0px;
   }
	/* todo: CONTACTS PAGE */
      /* ! MAIN */
	.contacts {
		padding: 40px 0;
	}
	.contacts__title-item {
		font-size: 36px;
		text-align: center;
	}
	.contacts__contacts-wrapper {
		flex-wrap: wrap;
		flex-direction: column;
		row-gap: 30px;
	}
	/* ! Map-item */
	.map-item__image-item {
		flex: 0 0 15.88%;
		width: 570px;
	}
	/* ! Application-item */
	.application-item {
		margin-left: 0px;
	}
	.personal-data__phone-item {
		flex: 0 0 49%;
	}
	.personal-data__mail-item {
		flex: 0 0 49%;
		margin-left: 10px;
	}
}

/* Mobile XS */
/* todo: MAIN-PAGE */
      /* ! Header */
@media (max-width: 599px) {
   [class *="__container"] {
      max-width: 320px;
   }
	.forest {
		height: 400px;
	}
	.logo-menu-items__menu {
		flex: 0 0 47.70%;
	}
	.logo-menu-items__link-logo {
	   font-size: 26px;
   }
	.logo-menu-items__btn-menu {
		width: 22px;
		height: 22px;
		background: url('../img/page-1/header/block-1/open-icon.svg') 0 0 / 22px no-repeat;
		right: 0px;
		top: -7px;
	}
	.forest__logo-menu-items:not(:last-child) {
		margin-bottom: 80px;
	}
	.titles-center__title {
		font-size: 18px;
	}
	.titles-center__text-item {
		font-size: 16px;
	}
	.forest__header-content:not(:last-child) {
		margin-bottom: 155px;
	}
	.forest__button-scroll-item {
		width: 24%;
	}
	.forest__btn-scroll {
		padding-bottom: 16px;
		font-size: 12px; 
	}
	.forest__btn-scroll::after {
		width: 16px;
		height: 16px;
		background: url('../img/page-1/header/block-1/white-arrow-down.svg') 0 0 / 16px no-repeat;
	}
	.forest__btn-scroll:hover::after {
		background: url('../img/page-1/header/block-1/green-arrow-down.svg') 0 0 / 16px no-repeat;
	}
	.forest__btn-scroll:active::after {
		background: url('../img/page-1/header/block-1/black-arrow-down.svg') 0 0 / 16px no-repeat;
	}
	   /* ! Main */
	.routes {
	   padding: 30px 0;
   }
	.cards {
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: wrap;
		justify-content: center;
	}
	.cards_reverse {
		flex-direction: column;
	}
	.cards:not(:last-child) {
		margin-bottom: 40px;
	}
	.card-image {
		margin-left: 0px;
		margin-bottom: 20px;
	}
	.card-image__image {
		width: 100%;
		object-fit: cover;
	}
	.card-content {
		flex: 0 0 300px;
		align-self: center;
	}
	.card-content_left {
		margin-left: 0px;
	}
	.card-content__title-item {
		font-size: 24px;
		text-align: center;
	}
	.card-content__text-item {
		font-size: 16px;
		text-align: center;
	}
	.card-content__text-item:not(:last-child) {
		margin-bottom: 30px;
	}
	.card-content__link-btn {
		display: inline-block;
		margin-left: 50%;
		transform: translateX(-50%);
	}
		/* ! FOOTER */
	#footer-content {
		padding: 30px 0;
	}
	.footer-content__footer-row {
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer-copyright {
		margin-bottom: 30px;
	}
	.footer-copyright__text-item {
		font-size: 14px;
		text-align: center;
	}
	.footer-widget-wrappers {
		margin-left: 0px;
		padding-top: 0px;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 30px;
	}
	.footer-widget_info {
		text-align: center;
		flex: 0 0 80%;
	}
	.footer-widget_services,
	.footer-widget_contacts {
		margin-left: 0px;
		flex: 0 0 80%;
		text-align: center;
	}
	.footer-widget__title {
		margin-bottom: 20px;
	}
	.footer-widget a {
		font-size: 16px;
	}
	.footer-widget__text-item {
		font-size: 16px;
	}
	/* todo: TOURS PAGE */
      /* ! MAIN */

	.tours {
		padding: 40px 0;
	}
	.tours__main-title-center {
		margin-bottom: 20px;
	}
	.main-title-center__title {
		font-size: 28px;
	}
	.cards-wrappers {
		margin: 0 -10px;
		flex-wrap: wrap;
	}
	.cards-wrapper {
		padding: 0 10px;
	}
	.cards-wrapper:not(:last-child) {
		margin-bottom: 20px;
	}
	   /* ! Cards-item */
	.cards-wrappers:not(:last-child) {
		margin-bottom: 20px;
	}
	.card-item__image-item {
		width: 290px;
	}
	.card-item__title,
	.card-item-bigger__title,
	.card-item-tall__title {
		font-size: 18px;
		padding: 12px 30px;
	}
		/* ! Cards-item-bigger */
	.cards-wrapper-column {
		row-gap: 20px;
	}
	.card-item-bigger__image-item {
		width: 290px;
	}
	.card-item-bigger__image,
	.card-item-tall__image {
      height: 180.61px;
	}
		/* ! Card-item-tall */
	.card-item-tall__image-item {
		width: 290px;
	}

	/* todo: CONTACTS PAGE */
      /* ! MAIN */
	.contacts {
		padding: 30px 0;
	}
	.contacts__title-item {
		font-size: 26px;
	}
	.contacts__contacts-wrapper {
		row-gap: 20px;
	}
	.phone-adress-items {
		width: 290px;
	}
	.phone-adress-items__title {
		font-size: 20px;
	}
	.phone-adress-items__link-tel,
   .phone-adress-items__link-mail {
	   font-size: 16px;
		padding: 0 0 0 30px;
   }
	.phone-adress-items__link-tel::before {
		width: 16px;
		height: 16px;
		background: url('../img/page-4/main/block-1/black-phone-icon.svg') 0 0 / 16px no-repeat;
		top: 3px;
   }
	.phone-adress-items__link-tel:hover::before {
		background: url('../img/page-4/main/block-1/green-phone-icon.svg') 0 0 / 16px no-repeat;
	}
	.phone-adress-items__link-tel:active::before {
		background: url('../img/page-4/main/block-1/red-phone-icon.svg') 0 0 / 16px no-repeat;
	}
	.phone-adress-items__link-mail::before {
		width: 16px;
		height: 16px;
		background: url('../img/page-4/main/block-1/black-mail-icon.svg') 0 0 / 16px no-repeat;
		top: 3px; 
	}
	.phone-adress-items__link-mail:hover::before {
		background: url('../img/page-4/main/block-1/green-mail-icon.svg') 0 0 / 16px no-repeat;
	}
	.phone-adress-items__link-mail:active::before {
		background: url('../img/page-4/main/block-1/red-mail-icon.svg') 0 0 / 18px no-repeat;
	}
	.phone-adress-items__text-item {
		font-size: 16px;
	}
	/* ! Map-item */
	.map-item__title {
		font-size: 20px;
	}
	.map-item__image-item {
		width: 290px;
	}
	/* ! Application-item */
	.application-item {
		margin-left: 0px;
	}
	.application-item__title {
		font-size: 22px;
		text-align: center;
	}
	.personal-data__title {
		font-size: 18px;
	}
	.personal-data__name-input,
	.personal-data__phone-input,
	.personal-data__mail-input {
		width: 100%;
		padding: 10px 20px 13px 20px;
		font-size: 14px;
	}
	::placeholder {
		font-size: 14px;
	}
	.personal-data__phone-item {
		flex: 0 0 47.70%;
	}
	.personal-data__mail-item {
		flex: 0 0 47.70%;
		margin-left: 10px;
	}
	/* ! Directions-item */
	.personal-data__button-send {
		text-align: center;
	}
	.personal-data__btn-send {
		font-size: 14px;
		padding: 10px 20px;
	}
	/* todo: TRACKING-PAGE */
      /* ! MAIN */
	.tracking {
		padding: 30px 0;
	}
	.tracking__tours-tracking-wrapper {
		flex-wrap: wrap;
	}
	.tours-links {
		flex: 0 0 100%;
	}
	.tours-links:not(:last-child) {
		margin-bottom: 20px;
	}
	.tours-links__title-item {
		text-align: center;
		font-size: 26px;
	}
	.tours-links a {
		font-size: 16px;
		padding: 16px 0;
	}
	.track-hiking-items {
		margin-left: 0;
	}
	.track-hiking-items__title-item {
		text-align: center;
		font-size: 26px;
	}
	.track-hiking-items__text-item,
   .mount-item__text-item,
   .place-item__text-item,
   .camp-item__text-item {
	   font-size: 16px;
   }
	.track-hiking-items__image-item {
		width: 290px;
		flex: 0 0 0;
	}
	.mount-item__title-item,
   .place-item__title-item,
   .camp-item__title-item {
	   font-size: 20px;
		text-align: center;
   }
	.mount-item__title-item,
   .place-item__title-item,
   .camp-item__title-item:not(:last-child) {
	   margin-bottom: 10px;
   }
}
