/*
&display=swap
*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans:wght@400;700&display=swap');

body {
	font-family: 'PT Sans';
	color: #31405B;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
main {
	flex-grow: 1;
	padding-top: 40px;
}

/* todo: MAIN PAGE */

   /* ! HEADER */
/* ! Forest */

[class *="__container"] {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	padding: 20px 0;
	background: url('../img/page-2/header/block-1/bg-image.webp') center / cover no-repeat;
}
.forest__logo-menu-items {
	display: flex;
	justify-content: center;
}
.logo-menu-items__logo-item {
	flex: 0 0 20%;
}
.logo-menu-items__link-logo,
.footer-content__link-logo {
	font-family: 'Lobster';
	font-size: 40px;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	text-transform: capitalize;
}
.logo-menu-items__menu {
	align-self: center;
	margin-left: auto;
	padding-left: 20px;
}
.logo-menu-items__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 20px;
}
.logo-menu-items__link {
	font-family: 'PT Sans';
	font-size: 22px;
	line-height: 1.2;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	transition: all 0.3s ease 0s; 
}
.logo-menu-items__link:hover {
	color: #0AC883;
}
.logo-menu-items__link:active {
	color: #31405B;
}
.logo-menu-items__header-content {
	width: 919px;
	margin: 0 auto;
}

     /* ! MAIN */
/* ! Titles - content */
.titles-content {
	min-height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	padding: 135px 0;
}
.titles-content__image-item {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.titles-content__image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	object-fit: cover;
}
.titles-content__titles {
   position: relative;
}
.titles-center {
	text-align: center;
}
.titles-center h1 {
	font-weight: 700;
	font-size: 60px;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
} 
.titles-center h1:not(:last-child) {
	margin-bottom: 20px;
}
.titles-center p {
	font-size: 24px;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
}
.titles-content__button-scroll-item {
   position: absolute;
	left: 50%;
	bottom: 3%;
	transform: translate(-50%, -3%);
}
.titles-content__btn-scroll {
	display: inline-block;
	padding-bottom: 34px;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px 1px #000000;
	transition: all 0.3s ease 0s;
	position: relative; 
}
.titles-content__btn-scroll:hover {
	color: #0AC883;
}
.titles-content__btn-scroll:active {
	color: #31405B;
}
.titles-content__btn-scroll::after {
	content: "";
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url('../img/page-1/header/block-1/white-arrow-down.svg') 0 0 / 24px no-repeat;
	bottom: -4px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.3s ease 0s; 
}
.titles-content__btn-scroll:hover::after {
	background: url('../img/page-1/header/block-1/green-arrow-down.svg') 0 0 / 24px no-repeat;
}
.titles-content__btn-scroll:active::after {
	background: url('../img/page-1/header/block-1/black-arrow-down.svg') 0 0 / 24px no-repeat;
}

/* ! Routes  */
.routes {
	padding: 120px 0;
}
.cards {
	display: flex;
}
.routes__cards:not(:last-child) {
	margin-bottom: 120px;
}
.cards:nth-child(2n + 2) {
	flex-direction: row-reverse;
}
.card-content {
	flex: 0 0 40.17%;
}
.card-content__title-item h2 {
	font-weight: 700;
	font-size: 54px;
	line-height: 1.2;
}
.card-content__title-item h2:not(:last-child) {
	margin-bottom: 20px;
}
.card-content__title-item p {
	font-size: 20px;
	line-height: 1.6;
}
.card-content__title-item:not(:last-child) {
	margin-bottom: 40px;
}
.card-content__link {
	color: #138ECE;
}
.card-content__link:hover {
	text-decoration: underline;
}
.card-content__link:active {
	color: #db3232;
}
.card-content__link-btn {
	display: inline-block;
	font-weight: 700;
	font-size: 20px;
	color: #ffffff;
	background-color: #0AC883;
	padding: 12px 40px;
	border-radius: 50px;
	box-shadow: 0px 8px 20px rgba(24, 219, 148, 0.35);
	transition: all 0.3s ease 0s;
	border: 1px solid transparent;
}
.card-content__link-btn:hover {
	background-color: #ffffff;
	color: #0AC883;
	border: 1px solid #0AC883;
}
.card-content__link-btn:active {
	border: 1px solid #31405B;
	color: #31405B;
	box-shadow: 0px 8px 20px #31405B;
}
.card-image {
	flex: 0 0 48.71%;
}
.card-image_left {
	margin-left: auto;
	padding-left: 20px;
}
.card-image__image {
	width: 100%;
	height: 490px;
	object-fit: cover;
	border-radius: 30px;
}
.card-image_rigth {
	margin-right: auto;
	padding-left: 0;
}

/* ! FOOTER */
#footer-content {
	padding: 50px 0;
	background-color: #265847;
}
.footer-content__footer-row {
	display: flex;
}
.footer-content__footer-row:not(:last-child) {
	margin-bottom: 50px;
}
.footer-content__logo-item {
	flex: 0 0 23.07%;
}
.footer-widget-wrappers {
	display: flex;
	margin-left: auto;
	padding-top: 10px;
}
.footer-widget a {
	font-size: 18px;
	color: #ffffff;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px 1px #000000;
	transition: all 0.3s ease 0s;
}
.footer-widget a:hover {
	color: #0AC883;
	text-decoration: underline;
}
.footer-widget a:active {
	color: #31405B;
}
.footer-widget_info {
	flex: 0 0 22.07%;
}
.footer-widget_services,
.footer-widget_contacts {
	flex: 0 0 35.06%;
	margin-left: 30px;
}
.footer-widget__title-item {
	margin-bottom: 30px;
}
.footer-widget__title-item h3 {
	font-weight: 700;
	font-size: 24px;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
}
.footer-widget__list li:not(:last-child) {
	margin-bottom: 15px;
}
.footer-widget__text-item {
	font-size: 18px;
	color: #ffffff;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px 1px #000000;
}
.footer-copyright {
	background-color: #000;
}
.footer-copyright__text-item {
	text-align: center;
	padding: 5px;
}
.footer-copyright__text-item p {
	font-size: 12px;
	line-height: 1.6;
	color: #0AC883;
}

   /* todo: TOURS PAGE */
      /* ! HEADER */
.header-item {
	background: url('../img/page-2/header/block-1/bg-image.webp') center / cover no-repeat;
}
.header-item__logo-menu-items {
	display: flex;
}
     /* ! MAIN */
/* ! Tours */
.tours {
	padding: 60px 0 98px;
	background-color: #F2F8F6;
}
.tours a {
	transition: all 0.3s ease 0s;
}
.tours a:hover {
	box-shadow: 2px 2px 8px 2px #4367a9;
}
.tours a:active {
	box-shadow: 2px 2px 8px 2px #0AC883;
}
.tours__main-title-center {
	margin-bottom: 60px;
	text-align: center;
}
.main-title-center h1 {
	font-weight: 700;
	font-size: 54px;
}

.cards-wrappers {
	display: flex;
	margin: 0 -15px;
}
.cards-wrappers:not(:last-child) {
	margin-bottom: 30px;
}
.cards-wrapper {
	padding: 0 15px;
}
/* ! Cards-item */
.card-item__link-free,
.card-item__link-extreme,
.card-item-bigger__link-adventure,
.card-item-bigger__link-tracking,
.card-item-tall__link-jungle {
	display: flex;
	flex-direction: column;
}
.card-item__image-item {
	flex: 0 0 355px;
	width: 570px;
}
.card-item__image {
	width: 100%;
	height: 355px;
	object-fit: cover;
}
.card-item__title-item,
.card-item-bigger__title-item,
.card-item-tall__title-item {
	padding: 22px 30px;
}
.card-item__title-item h2,
.card-item-bigger__title-item h2,
.card-item-tall__title-item h2 {
	font-weight: 700;
	font-size: 28px;
	line-height: 1.2;
	color: #ffffff;
}
.card-item__title-item_free {
	background-color: #A6A6A6;
}
.card-item__title-item_extreme {
	background-color: #C1B19B;
}
.card-item-bigger__title-item_adventure {
	background-color: #66B0BE;
}
.card-item-bigger__title-item_tracking {
	background-color: #976651;
}
.card-item-tall__title-item_jungle {
	background-color: #27695E;
}
/* ! Cards-item-bigger */
.cards-wrapper-column {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
}
.card-item-bigger {
	display: flex;
	flex-direction: column;
}
.card-item-bigger__image-item {
	flex: 0 0 285px;
	width: 670px;
}
.card-item-bigger__image {
	width: 100%;
	height: 285px;
	object-fit: cover;
}
/* ! Card-item-tall */
.card-item-tall {
	display: flex;
	flex-direction: column;
}
.card-item-tall__image-item {
	flex: 0 0 680px;
	width: 470px;
}
.card-item-tall__image {
	width: 100%;
	height: 680px;
	object-fit: cover;
}

/* todo: TRACKING-PAGE */
/* ! MAIN */
.tracking {
	padding: 71px 0 100px;
	background-color: #F2F8F6;
}
.tracking__tours-tracking-wrapper {
	display: flex;
}
.tours-links {
	flex: 0 0 23.50%;
}
.tours-links__title-item:not(:last-child) {
	margin-bottom: 30px;
}
.tours-links__title-item h1 {
	font-weight: 700;
	font-size: 28px;
}
.tours-links a {
	display: block;
	font-size: 20px;
	color: #138ECE;
	border-top: 1px solid #D6D9D8;
	padding: 30px 0;
	transition: all 0.3s ease 0s;
}
.tours-links a:hover {
	color: #E04E4E;
}
.tours-links a:active {
	color: #31405B;
}
.tours-links__link-jungle {
	border-bottom: 1px solid #D6D9D8;
}
.track-hiking-items {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	margin-left: auto;
	padding-left: 20px;
}
.track-hiking-items a {
	color: #138ECE;
	text-decoration: underline;
}
.track-hiking-items a:hover {
	color: #E04E4E;
}
.track-hiking-items a:active {
	color: #31405B;
}
.track-hiking-items__titles-item {
	width: 770px;
}
.track-hiking-items__titles-item h2:not(:last-child) {
   margin-bottom: 40px;
}
.track-hiking-items__titles-item h2 {
	font-weight: 700;
	font-size: 54px;
}
.track-hiking-items__texts-item {
	width: 770px;
}
.track-hiking-items__titles-item p,
.track-hiking-items__texts-item p,
.mount-item__title-item p,
.place-item__title-item p,
.camp-item__title-item p {
	font-size: 20px;
	line-height: 1.6;
}
.track-hiking-items__texts-item p:not(:last-child) {
	margin-bottom: 20px;
}
.track-hiking-items__image-item {
	flex: 0 0 21.42%;
	width: 770px;
}
.track-hiking-items__image {
	width: 100%;
	height: 316px;
	object-fit: cover;
}
.track-hiking-items__texts-item,
.mount-item__title-item,
.place-item__title-item,
.camp-item__title-item {
	width: 770px;
}
.mount-item__title-item h3,
.place-item__title-item h3,
.camp-item__title-item h3 {
	font-size: 32px;
	line-height: 1.6;
	font-weight: 700;
}
.mount-item__title-item h3,
.place-item__title-item h3,
.camp-item__title-item h3:not(:last-child) {
	margin-bottom: 15px;
}

/* todo: CONTACTS PAGE */
/* ! MAIN */
.contacts {
	padding: 60px 0 100px;
	background-color: #F2F8F6;
}
.contacts__title-item:not(:last-child) {
	margin-bottom: 40px;
}
.contacts__title-item h1 {
	font-weight: 700;
	font-size: 54px;
}
.contacts__contacts-wrapper {
	display: flex;
}
/* ! Phone-adress-items */
.phone-adress-items:not(:last-child) {
	margin-bottom: 40px;
}
.phone-adress-items__title-item:not(:last-child) {
	margin-bottom: 20px;
}
.phone-adress-items__title-item h2 {
	font-weight: 700;
	font-size: 28px;
}
.phone-adress-items__list li:not(:last-child) {
	margin-bottom: 15px;
}
.phone-adress-items__link-tel,
.phone-adress-items__link-mail {
	font-size: 20px;
	line-height: 1.6;
	color: #31405B;
	position: relative;
	padding: 0 0 0 40px;
	transition: all 0.3s ease 0s; 
}
.phone-adress-items__link-tel:hover {
	color: #0AC883;
}
.phone-adress-items__link-tel:active {
	color: #E04E4E;
}
.phone-adress-items__link-mail:hover {
	color: #0AC883;
}
.phone-adress-items__link-mail:active {
	color: #E04E4E;
}
.phone-adress-items__link-tel::before {
	content: "";
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url('../img/page-4/main/block-1/black-phone-icon.svg') 0 0 / 24px no-repeat;
	position: absolute;
	left: 0;
	top: 2px;
	transition: all 0.3s ease 0s; 
}
.phone-adress-items__link-tel:hover::before {
	background: url('../img/page-4/main/block-1/green-phone-icon.svg') 0 0 / 24px no-repeat;
}
.phone-adress-items__link-tel:active::before {
	background: url('../img/page-4/main/block-1/red-phone-icon.svg') 0 0 / 24px no-repeat;
}
.phone-adress-items__link-mail::before {
	content: "";
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url('../img/page-4/main/block-1/black-mail-icon.svg') 0 0 / 24px no-repeat;
	position: absolute;
	left: 0;
	top: 2px;
	transition: all 0.3s ease 0s; 
}
.phone-adress-items__link-mail:hover::before {
	background: url('../img/page-4/main/block-1/green-mail-icon.svg') 0 0 / 24px no-repeat;
}
.phone-adress-items__link-mail:active::before {
	background: url('../img/page-4/main/block-1/red-mail-icon.svg') 0 0 / 24px no-repeat;
}
.phone-adress-items__text-item {
	font-size: 20px;
	line-height: 1.6;
	color: #31405B;
}
/* ! Map-item */
.map-item {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.map-item__title-item {
	flex: 0 0 40.17%;
}
.map-item__title-item h2 {
	font-weight: 700;
	font-size: 28px;
}
.map-item__image-item {
	flex: 0 0 45.88%;
	width: 470px;
}
.map-item__image {
	width: 100%;
	height: 401px;
	object-fit: cover;
}
/* ! Application-item */
.application-item {
	flex: 0 0 50.26%;
	margin-left: auto;
	background-color: #ffffff;
	padding: 40px;
	box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 0.25);
}
.application-item__title-item:not(:last-child) {
	margin-bottom: 20px;
}
.application-item__title-item h2 {
	font-weight: 700;
	font-size: 28px;
}
/* ! personal-data */
.personal-data__title-item:not(:last-child) {
	margin-bottom: 15px;
}
.personal-data__title-item h3 {
	font-weight: 700;
	font-size: 20px;
}
.personal-data__name-input,
.personal-data__phone-input,
.personal-data__mail-input {
	width: 100%;
	background-color: #EEE;
	border: 1px solid #C0C0C0;
	border-radius: 6px;
	padding: 12px 60px 15px 20px;
	outline: none;
	font-size: 18px;
	color: #31405B;
}
.personal-data__name-item:not(:last-child) {
	margin-bottom: 10px;
}
::placeholder {
	font-size: 18px;
	color: #31405b80;
}
.personal-data__phone-mail-items {
	display: flex;
}
.personal-data__phone-mail-items:not(:last-child) {
	margin-bottom: 30px;
}
.personal-data__phone-item {
	flex: 0 0 49.09%;
}
.personal-data__mail-item {
	flex: 0 0 49.09%;
	margin-left: 10px;
}
/* ! quantity-clients */
.quantity-clients:not(:last-child) {
	margin-bottom: 30px;
}
.quantity-clients__title-item:not(:last-child) {
	margin-bottom: 13px;
}
.quantity-clients__title-item h3 {
	font-weight: 700;
	font-size: 20px;
}
.quantity-clients__radio-items {
	position: relative;
}
.quantity-clients__input-radio {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.quantity-clients__input-radio:focus + .quantity-clients__label-radio {
	outline: 1px solid transparent;
}
.quantity-clients__input-radio:checked + .quantity-clients__label-radio::after {
	transform: scale(1);
}
.quantity-clients__label-radio {
	display: flex;
	column-gap: 15px;
	align-items: center;
	cursor: pointer;
	font-size: 18px;
	position: relative;
}
.quantity-clients__label-radio::before {
	align-self: flex-start;
	flex: 0 0 20px;
	height: 20px;
	content: "";
	border: 1px solid #C0C0C0;
	background-color: #EEEEEE;
	border-radius: 50%;
	cursor: pointer;
}
.quantity-clients__label-radio::after {
	content: "";
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: #2AB698;
	border-radius: 50px;
	position: absolute;
	left: 5.5px;
	top: 5px;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
}
.quantity-clients__four-clients,
.quantity-clients__ten-clients,
.quantity-clients__more-ten-clients:not(:last-child) {
	margin-bottom: 21px;
}

/* ! Directions-item */
.directions:not(:last-child) {
	margin-bottom: 35px;
}
.directions__title-item:not(:last-child) {
	margin-bottom: 13px;
}
.directions__title-item h3 {
	font-weight: 700;
	font-size: 20px;
}
.directions__mountain-tracking,
.directions__peak-tracking,
.directions__exotic-tracking,
.directions__mix-tracking:not(:last-child) {
	margin-bottom: 17px;
}
.directions__checkbox-items {
	position: relative;
}
.directions__input-check {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.directions__input-check:focus + .directions__label-check {
	outline: 1px solid transparent;
}
.directions__input-check:checked + .directions__label-check::before {
	background: url('../img/page-4/main/block-1/green-check-icon.svg') 0 0 / 20px no-repeat;
}
.directions__label-check {
	display: flex;
	align-items: center;
	column-gap: 15px;
	cursor: pointer;
	font-size: 18px;
}
.directions__label-check::before {
	content: "";
	flex: 0 0 20px;
	height: 20px;
	display: inline-block;
	background: url('../img/page-4/main/block-1/checkbox-icon.svg') 0 0 / 20px no-repeat;
	cursor: pointer;
}
.personal-data__btn-send {
	font-weight: 700;
	font-size: 20px;
	color: #ffffff;
	background-color: #0AC883;
	border-radius: 50px;
	border: 1px solid transparent;
	box-shadow: 0px 8px 20px 0px rgba(24, 219, 148, 0.35);
	padding: 12px 40px;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.personal-data__btn-send:hover {
	color: #0AC883;
	background-color: #ffffff;
	border: 1px solid #0AC883;
}
.personal-data__btn-send:active {
	color: #31405B;
	background-color: #F2F8F6;
	border: 1px solid #31405B;
	box-shadow: 0px 8px 20px 0px #31405B;
}
